<!-- CATALOGUE -->
<section class="catalog u-m-md">
    <h2>Deals of the Day</h2>

    <div class="catalog__deals">
        <figure class="card card-deals">
            <a href="./product-page.html" rel="noreferrer">
                <img class="card__img" src="content/images/bat-dog-toy.png" loading="lazy" width="350" height="370"
                    alt="Bat Dog Toy">
                <figcaption>
                    <h3 class="card__desc">bat dog toy</h3>
                    <p class="card__price">$1.99 (20% off)</p>
                </figcaption>
            </a>
        </figure>
        <figure class="card card-deals">
            <a href="./product-page.html" rel="noreferrer">
                <img class="card__img" src="content/images/dog-food.png" loading="lazy" width="350" height="370"
                    alt="Savory Wet Dog Food">
                <figcaption>
                    <h3 class="card__desc">savory wet dog food</h3>
                    <p class="card__price">$4.99 (20% off)</p>
                </figcaption>
            </a>
        </figure>
        <figure class="card card-deals">
            <a href="./product-page.html" rel="noreferrer">
                <img class="card__img" src="content/images/cat-tunnel.png" loading="lazy" width="350" height="370"
                    alt="Cat Tunnel">
                <figcaption>
                    <h3 class="card__desc">cat tunnel</h3>
                    <p class="card__price">$10.99 (20% off)</p>
                </figcaption>
            </a>
        </figure>
        <figure class="card card-deals">
            <a href="./product-page.html" rel="noreferrer">
                <img class="card__img" src="content/images/ewok-hallowen-costume.png" loading="lazy" width="350"
                    height="370" alt="Ewok Hallowen Costume">
                <figcaption>
                    <h3 class="card__desc">ewok hallowen costume</h3>
                    <p class="card__price">$15.99 (20% off)</p>
                </figcaption>
            </a>
        </figure>
        <figure class="card card-deals">
            <a href="./product-page.html" rel="noreferrer">
                <img class="card__img" src="content/images/batman-hallowen-costume.png" loading="lazy" width="350"
                    height="370" alt="Batman Costume">
                <figcaption>
                    <h3 class="card__desc">batman costume</h3>
                    <p class="card__price">$10.99 (20% off)</p>
                </figcaption>
            </a>
        </figure>
        <figure class="card card-deals">
            <a href="./product-page.html" rel="noreferrer">
                <img class="card__img" src="content/images/superman-hallowen-costume.png" loading="lazy" width="350"
                    height="370" alt="Superman Costume">
                <figcaption>
                    <h3 class="card__desc">superman costume</h3>
                    <p class="card__price">$10.99 (20% off)</p>
                </figcaption>
            </a>
        </figure>
    </div>
    <div class="catalog__show u-pd-sm">
        <hr class="hr">
        <a href="#">
            <p id="show">show all</p>
        </a>
        <hr class="hr">
    </div>
</section>

