/*
//////////////////////////////////////////
/ PAGE SERVICES
*/
.page-services {
    margin-top: calc(12rem - 3px);
    margin-bottom: calc(7.75rem - 6px);

    &__container {
        max-width: 1024px;
        height: auto;
        padding-top: calc(2.5rem - 8px);
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 90px;
    }

    &__wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}
