{{> base/head title="Shopping List"}}
{{> header/header bgStamp="bg-stamp-green"}}

<main class="u-mb-sm">
    <section class="page-services u-mx-md">
        <article class="page-services__container u-box-shadow u-pd-sm">
            <header class="page-article">
                <div class="page-article__heading u-mb-sm">
                    <h2 class="u-mb-0">services</h2>
                    <hr class="hr w-10">
                </div>
            </header>
            <div class="page-services__wrap">
                <div class="page-services-card">
                    <figure class="page-services-card__fig">
                        <img class="page-services-card__img" src="assets/images/card-img-grooming.jpg"
                            alt="dog grooming services" lazy="loading" width="360" height="360">
                        <figcaption class="page-services-card__caption">grooming</figcaption>
                    </figure>
                </div>
                <div class="page-services-card">
                    <figure class="page-services-card__fig">
                        <img class="page-services-card__img" src="assets/images/card-img-adoption.jpg"
                            alt="cat adoption services" lazy="loading" width="360" height="360">
                        <figcaption class="page-services-card__caption">adoption</figcaption>
                    </figure>
                </div>
                <div class="page-services-card">
                    <figure class="page-services-card__fig">
                        <img class="page-services-card__img" src="assets/images/card-img-wash.jpg"
                            alt="dog wash services" lazy="loading" width="360" height="360">
                        <figcaption class="page-services-card__caption">pet wash</figcaption>
                    </figure>
                </div>
                <div class="page-services-card">
                    <figure class="page-services-card__fig">
                        <img class="page-services-card__img" src="assets/images/card-img-events.jpg"
                            alt="dog event services" lazy="loading" width="360" height="360">
                        <figcaption class="page-services-card__caption">events</figcaption>
                    </figure>
                </div>
            </div>
        </article>
    </section>

    {{> subscribe/subscribe}}
</main>

{{> footer/footer }}
