/*
//////////////////////////////////////////
/ PAGE SERVICES, PAGE ABOUT US
*/
.page-services,
.page-aboutus {
    margin-top: calc(12rem - 3px);
    margin-bottom: calc(7.75rem - 6px);
}

.page-services .page-services__container,
.page-aboutus .page-aboutus__container {
    max-width: 1024px;
    height: auto;
    padding-top: calc(2.5rem - 8px);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 90px;
}

.page-services__wrap,
.page-aboutus__wrap,
.team__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.page-services-card,
.page-aboutus-card,
.team-card {
    width: calc(50%);
    height: auto;
}

.page-services-card .page-services-card__fig,
.page-aboutus-card .page-aboutus-card__fig,
.team-card .team-card__fig {
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
}

.page-services-card a,
.page-aboutus-card a {
    display: block;
    width: 100%;
    height: auto;
}

.page-services-card .page-services-card__caption,
.page-aboutus-card .page-aboutus-card__caption {
    position: absolute;
    color: var(--color-white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    font-size: 2.6rem;
    font-family: var(--font-unna);
    width: 70%;
    text-align: center;
    transition: all 1s ease;
}

.page-services-card .page-services-card__img,
.page-aboutus-card .page-aboutus-card__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    filter: brightness(50%);
    transition: filter 2s ease;
}

.page-services-card .page-services-card__img:hover,
.page-aboutus-card .page-aboutus-card__img:hover {
    filter: brightness(100%);
}

.page-services-card__img:hover + .page-services-card__caption,
.page-aboutus-card__img:hover + .page-aboutus-card__caption {
    background-color: var(--color-background);
    opacity: 90%;
}
