<div class="product-page__photos-main">
    <img id="selected-img" src="{{img-path}}" alt="{{img-desc}}">
</div>
<ul class="product-page__photos-mirror">
    <li>
        <a href="#">
            <img class="img-to-select" src="./content/images/superman-costume-front.png" alt="product image front">
        </a>
    </li>
    <li>
        <a href="#">
            <img class="img-to-select" src="./content/images/superman-costume-back.png" alt="product image back">
        </a>
    </li>
    <li>
        <a href="#">
            <img class="img-to-select" src="./content/images/superman-costume-front.png" alt="product image front">
        </a>
    </li>
    <li>
        <a href="#">
            <img class="img-to-select" src="./content/images/superman-costume-back.png" alt="product image back">
        </a>
    </li>
    <li>
        <a href="#">
            <img class="img-to-select" src="./content/images/superman-costume-front.png" alt="product image front">
        </a>
    </li>
</ul>
