<!-- FOOTER -->
<footer>
    <div class="footer-wrap u-pd-sm">
        <div class="deliveries u-mb-sm">
            <div class="deliveries__info">
                <h5>free delivery</h5>
                <p>Around the world starting from $100</p>
            </div>

            <div class="deliveries__info borders">
                <h5>free return</h5>
                <p>66 rue Condorcet 75009 Paris, France</p>
            </div>

            <div class="deliveries__info">
                <h5>secure payments</h5>
                <p>Mastercard, Visa and PayPal</p>
            </div>
        </div>

        <div>
            <hr class="hr u-mb-sm">
        </div>

        <div class="social u-mb-sm">
            <div class="social__follow-us">
                <h5>follow us</h5>
                {{> social-icons/social-icons}}
            </div>
            <!-- LOGO BLACK -->
            <div class="social__logo">
                <a href="#">
                    <img class="logo logo--black" src="assets/images/petlove-logo-black.png" loading="lazy" width="140"
                        height="32" alt="Footer Black Logo" />
                </a>
            </div>

            <!-- FORM EMAIL -->
            <div class="social__contact">
                <form action="#" method="POST">
                    <div class="social__contact-wrap">
                        <label for="signup">sign up to our news</label>
                        <div class="social__signup">
                            <input id="signup" class="social__signup-control" type="email" name="" value=""
                                placeholder="Enter your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                required>
                            <button class="social__contact-btn">&rarr;</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

<script src="assets/scripts/main.min.js"></script>
</body>

</html>
