/*
//////////////////////////////////////////
/ OUT TEAM
*/

.team {
    max-width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.team .team-card__img {
    border: 2px solid var(--color-box-product);
}

.team .team-card__caption {
    position: absolute;
    color: var(--color-white);
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-family: var(--font-monserrat);
    font-weight: 500;
    letter-spacing: 1px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid var(--color-text-grey-medium);
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all 1s ease;
}

.team .team-card__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: filter 2s ease;
}
