<div class="product-page__bag-selector">
    <div class="product-page__bag-color">
        <label for="select-color">color:</label>
        <select id="select-color" class="select-color arrow-selection" name="">
            <option value="" selected>white</option>
            <option value="">blue</option>
            <option value="">yellow</option>
            <option value="">green</option>
            <option value="">pinky</option>
        </select>
    </div>
    <div class="product-page__bag-size">
        <label for="select-size">size:</label>
        <select id="select-size" class="select-size arrow-selection" name="">
            <option value="" selected>x-small</option>
            <option value="">small</option>
            <option value="">medium</option>
            <option value="">large</option>
            <option value="">x-large</option>
        </select>
    </div>
    <div class="product-page__bag-selector-mysize">
        <a href="">what's my size</a>
    </div>
</div>
