.product-page {
    &__bag {
        &-selector {
            margin: 1.5rem 0;
            display: flex;
            width: 80%;
            justify-content: space-between;

            &-mysize {
                font-size: 0.75rem;
                font-family: var(--font-lato);
                letter-spacing: 1.3px;
                color: var(--color-text-grey-medium);
                text-transform: capitalize;
            }
        }

        &-color,
        &-size {
            label {
                display: block;
                font-size: 0.75rem;
                font-family: var(--font-monserrat);
                letter-spacing: 1.3px;
                color: var(--color-text-grey-medium);
                text-transform: uppercase;
                font-weight: 400;
                margin-bottom: 0.5rem;
            }

            .select-color,
            .select-size {
                padding: 0.5rem 1.5rem 0.5rem 0;
                font-family: var(--font-monserrat);
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 1.3px;
                text-transform: uppercase;
                color: var(--color-text-grey-dark);
                background: url(../images/filled-down-arrow.png) 100% / 10% no-repeat;
            }
        }

        &-mysize {
            font-size: 0.75rem;
            font-family: var(--font-monserrat);
            letter-spacing: 1.3px;
            color: var(--color-text-grey-medium);
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 0.5rem;
        }
    }
}
