<!-- HERO -->
<section class="hero">
    <article class="hero__carrousel">
        <button class="hero__carrousel-btn hero__carrousel-btn--left hidden" aria-label="left">
        </button>
        <button class="hero__carrousel-btn hero__carrousel-btn--right" aria-label="right">
        </button>
        <div class="hero__carrousel-description">
            <p>cats jackets</p>
            <h1>Protect your buddy during Winter</h1>
            <a id="" class="btn" href="#">shop now</a>
        </div>
        <div class="hero__carrousel-container">
            <ul class="hero__carrousel-track">
                <!-- slider 1 -->
                <li class="hero__carrousel-slide current-slide">
                    <picture>
                        <img class="hero__carrousel-image" src="assets/images/hero-bg.png" loading="lazy" width="1440"
                            height="700" alt="cat on snow image">
                    </picture>
                </li>
                <li class="hero__carrousel-slide">
                    <picture>
                        <img class="hero__carrousel-image" src="assets/images/hero-bg.png" loading="lazy" width="1440"
                            height="700" alt="cat on snow image">
                    </picture>
                </li>
                <li class="hero__carrousel-slide">
                    <picture>
                        <img class="hero__carrousel-image" src="assets/images/hero-bg.png" loading="lazy" width="1440"
                            height="700" alt="cat on snow image">
                    </picture>
                </li>
                <li class="hero__carrousel-slide">
                    <picture>
                        <img class="hero__carrousel-image" src="assets/images/hero-bg.png" loading="lazy" width="1440"
                            height="700" alt="cat on snow image">
                    </picture>
                </li>
            </ul>
        </div>
        <div class="hero__carrousel-nav">
            <button class="hero__carrousel-indicator current-slide" aria-label="Dot button"></button>
            <button class="hero__carrousel-indicator" aria-label="Dot button"></button>
            <button class="hero__carrousel-indicator" aria-label="Dot button"></button>
            <button class="hero__carrousel-indicator" aria-label="Dot button"></button>
        </div>
    </article>
</section>
