<!-- SUBSCRIBE -->
<section class="subscribe u-pd-sm">
    <form class="form-group" action="#" method="POST">
        <label for="subscribe__email">Subscribe now</label>
        <input id="subscribe__email" class="subscribe__form-control" type="email" name="" value=""
            placeholder="Enter your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        <button class="subscribe__btn">subscribe</button>
    </form>
</section>
