/*

Title: PetLove - 2019
Contributors: Marcelo Glacial & Jose Dutra
Author URL: https: //github.com/marceloglacial/2019-petlove/
Starts on: 08/27/2019

*/

/* VARIABLES */
:root {
    /* Colors */
    --color-primary: #4d6863;
    --color-secondary: #d7fff1;
    --color-background: #4e6863;
    --color-text-grey-dark: #333;
    --color-text-grey: #989898;
    --color-text-grey-medium: #8d8d8d;
    --color-text-grey-lighter: #ebebeb;
    --color-white: #ffffff;
    --color-input: #998e76;

    /* Font-Families */
    --font-unna: 'Unna', sans-serif;
    --font-lato: 'Lato', sans-serif;
    --font-monserrat: 'Montserrat', sans-serif;
}

/*
//////////////////////////////////////////
/ BASIC RESETS
*/
* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    /* inherited from HTML */
}

body {
    background-color: var(--color-white);
    font-family: var(--font-lato);
    line-height: 1.6;
    color: var(--color-text-grey-dark);
}

a:visited,
a:link {
    color: currentColor;
    text-decoration: none;
}

a:link:active,
a:visited:active {
    color: currentColor;
}

ul,
ol,
li {
    list-style: none;
}

::-moz-selection {
    background-color: var(--color-primary);
    color: var(--color-white);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/*
//////////////////////////////////////////
/ HEADER
*/
.main-header {
    position: relative;
    z-index: 99;
}

.main-header .container {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-header .container .row {
    width: 85%;
    padding: 1.9rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo {
    width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
}

/* MENU */
.navbar-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 70%;
    width: 30%;
    height: 100vh;
    z-index: 999;
    background: linear-gradient(to right, var(--color-primary), var(--color-background));
    text-align: center;
    padding: 2.5rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.4);
}

/* no scrolling on active menu */
.no-scroll {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.menu-close {
    display: inline-block;
    align-self: flex-end;
}

.menu-open {
    display: none;
}

.menu-open .fa-bars,
.menu-close .fa-close {
    color: var(--color-white);
    font-size: 24px;
}
.menu-open:hover .fa-bars,
.menu-close:hover .fa-close {
    color: var(--color-secondary);
}

.navbar-mobile.open {
    transform: translateX(0);
}

.navbar-mobile .navbar-mobile__items {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 70vh;
}

/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar__items-item:not(:last-child) {
    margin-right: 2em;
    text-transform: uppercase;
}

.navbar__items-item a {
    color: var(--color-white);
    font-family: var(--font-monserrat);
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar__items-item a:hover {
    color: var(--color-secondary);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* HOME-HERO */
.hero {
    height: 90vh;
    width: 100%;
    background: #222;
}

.hero__carrousel {
    position: relative;
    height: 100%;
    width: 100%;
}

.hero__carrousel-btn {
    position: absolute;
    top: 50%;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 4;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
    background-color: transparent;
    border: 2px solid var(--color-text-grey-lighter);
    cursor: pointer;
    -webkit-filter: opacity(0.5);
    filter: opacity(0.5);
    -webkit-transition: -webkit-filter 0.2s ease-in;
    transition: -webkit-filter 0.2s ease-in;
    -o-transition: filter 0.2s ease-in;
    transition: filter 0.2s ease-in;
    transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
}

.hero__carrousel-btn:hover {
    -webkit-filter: opacity(0.9);
    filter: opacity(0.9);
}

.hero__carrousel-btn--left {
    left: 1rem;
    border-right: none;
    border-bottom: none;
}

.hero__carrousel-btn--right {
    right: 1rem;
    border-top: none;
    border-left: none;
}

.hero__carrousel-container {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.hero__carrousel-track {
    position: relative;
    height: 100%;
    -webkit-transition: -webkit-transform ease-in-out 500ms;
    transition: -webkit-transform ease-in-out 500ms;
    -o-transition: transform ease-in-out 500ms;
    transition: transform ease-in-out 500ms;
    transition: transform ease-in-out 500ms, -webkit-transform ease-in-out 500ms;
}

.hero__carrousel-slide {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}

.hero__carrousel-description {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 7vw;
    z-index: 1;
}

.hero__carrousel-description p {
    font-family: var(--font-monserrat);
    color: var(--color-white);
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 1rem;
}

.hero__carrousel-description h1 {
    font-family: var(--font-unna);
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-white);
    word-break: break-word;
    line-height: 4rem;
    margin: 0;
    margin-bottom: 2rem;
    width: 80vmin;
}

.hero__carrousel-description .btn {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.8rem 2.2rem;
    background-color: transparent;
    border: 2px solid var(--color-white);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -ms-flex-item-align: start;
    align-self: flex-start;
    letter-spacing: 2px;
}

.hero__carrousel-description .btn:hover {
    background-color: var(--color-white);
    color: currentColor;
}

.hero__carrousel-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.hero__carrousel-nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    bottom: 5%;
    margin-left: 7vw;
}

.hero__carrousel-indicator {
    width: 0.75rem;
    height: 0.75rem;
    background: transparent;
    border: 1px solid var(--color-text-grey-lighter);
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hero__carrousel-indicator:hover {
    background-color: var(--color-text-grey-lighter);
}

.hero__carrousel-nav .current-slide {
    background-color: var(--color-text-grey-lighter);
}

.hero__carrousel-indicator:not(:last-child) {
    margin-right: 10px;
}

.hidden {
    display: none;
}

/*
//////////////////////////////////////////
/ CATALOGUE
*/
.catalog h2,
.page-article__heading h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 45vw;
    font-family: var(--font-unna);
    font-size: 3.875rem;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
}

.catalog__deals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 4rem;
}

.card {
    min-width: 33.333333%;
    height: auto;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.card:hover {
    opacity: 0.8;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.card a {
    display: block;
}

.card-deals {
    padding: 30px 0;
    margin-bottom: 3.5rem;
}

.card-deals,
.card-pets {
    text-align: center;
}

.card-pets {
    margin-bottom: 1rem;
}

.card .card__img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.card .card__desc {
    position: relative;
    font-family: var(--font-unna);
    text-transform: capitalize;
    font-size: 1.375rem;
    font-weight: 400;
}

.card .card__price {
    position: relative;
    font-size: 0.875rem;
    color: var(--color-text-grey);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.catalog #show,
.shopping-list__catalogue #show {
    font-size: 0.75rem;
    margin: 1rem 0;
    text-align: center;
    color: var(--color-text-grey);
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.catalog #show:hover {
    opacity: 0.8;
}

.hr {
    border: 0.5px solid var(--color-text-grey-lighter);
    margin: 0 auto;
}

.w-10 {
    width: 10%;
}

/*
//////////////////////////////////////////
/ SUBSCRIBE
*/
.subscribe {
    width: 100%;
    background-color: var(--color-background);
}

.subscribe .form-group {
    padding: 2rem 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.subscribe label {
    font-family: var(--font-unna);
    font-weight: 400;
    color: var(--color-white);
    font-size: 1.8rem;
    cursor: pointer;
}

.subscribe .subscribe__form-control {
    padding: 1rem 1.25rem;
    border: none;
    font-size: 1rem;
    background-color: var(--color-white);
    color: var(--color-primary);
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    margin-left: 3.5rem;
    margin-right: 8px;
}

.subscribe__btn {
    width: 9.6rem;
    min-height: 2.75rem;
    font-size: 0.75rem;
    font-weight: 700;
    border: none;
    background-color: var(--color-white);
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    cursor: pointer;
    color: #a99f8c;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.subscribe__btn:hover {
    opacity: 90%;
}

/*
//////////////////////////////////////////
/ FOOTER
*/
.footer-wrap h5,
.footer-wrap label {
    display: block;
    text-transform: uppercase;
    margin: 8px 0;
    font-size: 13px;
    line-height: 30px;
    font-weight: 700;
}

.footer-wrap p {
    font-size: 14px;
    color: var(--color-text-grey-medium);
    line-height: 21px;
    margin-bottom: 1rem;
}

.deliveries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 7vw;
}

.deliveries .borders {
    border-left: 1px solid var(--color-text-grey-medium);
    border-right: 1px solid var(--color-text-grey-medium);
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.deliveries .deliveries__info {
    min-width: 33.333333%;
    height: auto;
    text-align: center;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 7vw;
}

.social__follow-us,
.social__logo,
.social__contact {
    min-width: 33.333333%;
    height: auto;
    text-align: center;
}

.social__follow-us .social-icons a:not(:last-child) {
    margin-right: 1.5rem;
}

.social-icons svg {
    width: 1.5rem;
    height: 1.5rem;
}

.social-icons svg:hover {
    opacity: 0.7;
}

.social-icons .social-icons--facebook,
.social-icons .social-icons--instagram,
.social-icons .social-icons--twitter,
.social-icons .social-icons--gplus {
    fill: var(--color-text-grey-medium);
}

.social .social__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social .social__contact .social__contact-wrap .social__signup {
    position: relative;
    padding: 0 1.5rem;
}

.social .social__contact .social__signup-control {
    width: 100%;
    height: 2.8rem;
    padding-left: 8px;
    border: 1px solid var(--color-text-grey-lighter);
    border-radius: 0;
    -webkit-appearance: none;
    font-size: 16px;
    background-color: var(--color-white);
    color: var(--color-primary);
}

.social .social__contact .social__contact-btn {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 16px;
    border: none;
    background-color: #0d0d0d;
    border: 1px solid var(--color-text-grey-lighter);
    border-left: none;
    cursor: pointer;
    color: var(--color-white);
    position: absolute;
    right: 1.5rem;
}

.social .social__contact .social__contact-btn:hover {
    opacity: 0.8;
}

/*
//////////////////////////////////////////
/ PAGE SINGLE CONTENT - About Us
*/

/* simple nav */
.bg-stamp-green {
    background-image: url(../images/img-menu-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 3px 5px var(--color-text-grey);
    z-index: 99;
}

.page-single {
    position: relative;
    margin-top: calc(12rem - 3px);
    margin-bottom: calc(7.75rem - 6px);
}

.page-single .page-single__follow-us {
    display: inline-block;
}

.follow-us--fixed {
    position: fixed;
    bottom: 50%;
    transform: translateY(50%);
    transition: all 0.5s ease-in-out;
}

.follow-us--absolute {
    position: absolute;
    bottom: 0;
}

.page-single .page-single__follow-us .social-icons {
    text-align: center;
}

.page-single .page-single__follow-us .social-icons .social-icons__share {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-text-grey);
    display: block;
    margin-bottom: 1rem;
}

.page-single .page-single__follow-us .social-icons a {
    display: block;
}

.page-single .page-single__follow-us .social-icons a:not(:last-child) {
    margin-bottom: 1rem;
}

.page-single .page-article {
    margin-top: 4.125rem;
}
.page-single .page-article h6,
.page-article__heading h2 {
    text-align: center;
    margin-bottom: calc(2.5rem - 8px);
}

.page-single .page-article h6 {
    font-size: 11px;
    color: var(--color-text-grey);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.page-single .page-article .page-article__info {
    margin-bottom: 3.812rem;
}

.page-article__info ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-article__info ul li {
    display: flex;
    align-items: center;
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--color-text-grey-medium);
}

.page-article__info ul li:hover {
    filter: opacity(70%);
}

.page-article__info ul li:not(:last-child) {
    margin-right: 1.875rem;
}

.page-article__info ul li span {
    margin-left: 12px;
}

.page-article__about {
    margin-left: auto;
    margin-right: auto;
    max-width: 45vw;
    margin-bottom: calc(7.75rem - 10px);
}

.page-article__about h3 {
    font-size: 21px;
    font-weight: 300;
    line-height: 25px;
}

.page-article__about h3,
.page-article__about p {
    margin-bottom: 1.75rem;
}

.page-article__about p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
}

.page-article__img {
    max-width: 70%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.page-article__img img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

/*
//////////////////////////////////////////
/ SHOPPING LIST LAYOUT
*/

.shopping-list {
    margin-top: 1.8rem;
}

.shopping-list .shopping-list__select-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
    margin-top: calc(9.5rem + 5px);
}

.arrow-selection {
    background-color: transparent;
    border: none;
    cursor: pointer;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.arrow-selection:hover {
    -webkit-filter: opacity(0.8);
    filter: opacity(0.8);
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}

.shopping-list .shopping-list__select {
    padding: 0.5rem 0.75rem 0.5rem 0;
    font-family: var(--font-monserrat);
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: url(../images/filled-down-arrow.png) 100% / 7% no-repeat;
}

.shopping-list .shopping-list__products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.shopping-list__wrap {
    margin-bottom: 2rem;
}

.shopping-list .shopping-list__products .shopping-list__category {
    width: 22%;
}

.shopping-list .shopping-list__products .shopping-list__label {
    font-family: var(--font-unna);
    font-size: 20px;
    display: block;
    margin-bottom: 1.1rem;
}

.shopping-list .shopping-list__products .shopping-list__controls {
    margin-bottom: 0.9rem;
    font-family: var(--font-Lato);
    font-size: 14px;
    text-transform: capitalize;
}

.btn-arrow {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    height: 10px;
    width: 13px;
    background-color: transparent;
    background-size: contain;
    background-image: url(../images/down-arrow.png);
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
}

.active > .btn-arrow {
    transform: rotate(-180deg);
}

.accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.accordion p {
    cursor: pointer;
}

.panel {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.active,
.accordion:hover,
.btn-arrow:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
}

.checkbox-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0.8rem;
}

.checkbox-wrap label {
    margin-left: 10px;
    cursor: pointer;
    font-size: 13px;
}

.label-item {
    line-height: 0;
}

.checkbox-control input[type='checkbox'] {
    display: none;
}

.checkbox-wrap .checkbox-control {
    align-self: center;
    position: relative;
    width: 12px;
    height: 12px;
    outline: 1px solid var(--color-input);
}

input[type='checkbox']:checked + label {
    background-color: var(--color-input);
}

.checkbox-model {
    position: absolute;
    z-index: 2;
    width: 10px;
    height: 10px;
    top: 1px;
    right: 1px;
    background-color: transparent;
    cursor: pointer;
}

/* search input */
.shopping-list__content {
    position: relative;
    width: 100%;
    height: 40px;
}
.shopping-list__control-search[type='search'] {
    height: 40px;
    border: none;
    border-bottom: 1px solid var(--color-text-grey);
    background-color: transparent;
    -webkit-appearance: none;
    border-radius: none;
    color: var(--color-input);
    font-size: 16px;
    padding-left: 5px;
    padding-top: 10px;
    width: 100%;
}

.shopping-list__control-search[type='search']::-webkit-input-placeholder {
    visibility: hidden;
}

.content-label {
    color: var(--color-input);
    font-size: 12px;
    position: absolute;
    left: 5px;
    bottom: 25px;
    pointer-events: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.shopping-list__control-search:placeholder-shown + .content-label {
    transform: translateY(20px);
    font-size: 14px;
}

/* input range */
.shopping-list__range {
    position: relative;
    width: 100%;
}

.shopping-list__range .shopping-list__range-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.shopping-list__range .shopping-list__range-price .shopping-list__range-price--left,
.shopping-list__range .shopping-list__range-price .shopping-list__range-price--right {
    font-family: var(--font-lato);
    font-size: 14px;
    margin-bottom: 10px;
}

.input-range[type='range'] {
    position: absolute;
    pointer-events: none;
    background: var(--color-input);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    width: 100%;
    height: 1px;
    border-radius: 0;
}

.input-range::-webkit-slider-thumb {
    position: relative;
    pointer-events: all;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 0;
    border: 0;
    background-color: var(--color-input);
    cursor: pointer;
    z-index: 10;
}

.input-range::-moz-range-thumb {
    position: relative;
    pointer-events: all;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 0;
    border: 0;
    background-color: var(--color-input);
    cursor: pointer;
}

.shopping-list__sizes-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.shopping-list__sizes-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

/* filter button */
.filter-btn {
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 2px;
    width: 100%;
    height: 2.2rem;
    text-transform: uppercase;
    color: var(--color-input);
    border: 1px solid var(--color-input);
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filter-btn:hover {
    color: var(--color-white);
    background-color: var(--color-input);
}

/* catalogue */
.shopping-list .shopping-list__products .shopping-list__catalogue {
    margin-left: 5px;
    width: calc(100% - 22% - (5px));
}

.shopping-list .shopping-list__products .shopping-list__catalogue .shopping-list__catalogue-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    margin-bottom: 1rem;
}

.shopping-list__pages a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.shopping-list__pages a:hover {
    opacity: 0.7;
}

.shopping-list__seq {
    font-family: var(--font-monserrat);
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.shopping-list__seq ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.shopping-list__seq ul li {
    color: var(--color-text-grey);
    font-size: 0.75rem;
    font-weight: 700;
}

.shopping-list__seq ul li:not(:last-child) {
    margin-right: 20px;
}

/*
//////////////////////////////////////////
/ PAGE SINGLE FORMS
*/
.page-single .page-single__container {
    max-width: 1024px;
    padding-top: 1px;
    margin-left: auto;
    margin-right: auto;
}

.page-single__wrap .page-single__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.page-single__contact-info,
.page-single__contact-form {
    width: calc(50% - 20px);
}

.page-single__contact-info,
.page-single__contact-form form {
    display: flex;
    flex-direction: column;
}

.page-single__contact-form,
.page-single__contact-info {
    margin-bottom: 4.125rem;
}

.page-single__contact-form form,
.page-single__contact-info {
    justify-content: space-between;
}

.page-single__heading h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.page-single__contact-info h5,
.page-single__contact-form .form-group label {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 22px;
    font-weight: normal;
}
.page-single__contact-info p {
    font-size: 1rem;
    line-height: 19px;
    font-weight: 300;
    color: var(--color-text-grey-medium);
}

.page-single__contact-info .page-single__social h5,
.page-single__contact-form .form-group label {
    margin-bottom: 7px;
}

.page-single__social-wrap .social-icons a:not(:last-child) {
    margin-right: 15px;
}

.page-single__social-wrap .social-icons a svg {
    fill: var(--color-input);
}

.page-single__contact-info {
    height: 20rem;
}

.page-single__contact-form {
    height: 28rem;
}

.page-single__contact-form form {
    height: 100%;
}

.page-single__contact-form form:not(:last-child) {
    margin-bottom: 20px;
}

.page-single__contact-form .form-control,
.page-single__contact-form .form-message {
    width: 100%;
    border: 1px solid var(--color-text-grey-lighter);
    font-size: 16px;
    color: var(--color-input);
    padding-left: 10px;
    border-radius: 0;
    -webkit-appearance: none;
}

.page-single__contact-form .form-message {
    padding-top: 10px;
}

.page-single__contact-form .form-group label,
.page-single__contact-form .form-group .form-control,
.page-single__contact-form .form-group .form-message {
    display: block;
}

.page-single__contact-form .form-group label {
    cursor: pointer;
}

.page-single__contact-form .form-group .form-control,
.page-single__btn {
    height: 3rem;
}

.page-single__btn {
    border-radius: 0;
    text-transform: uppercase;
    background-color: var(--color-input);
    color: var(--color-white);
    font-size: 0.75rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: filter 0.3s;
    border: none;
}

.page-single__btn:hover {
    filter: saturate(1.5);
}

/*
//////////////////////////////////////////
/ PAGE SERVICES, PAGE ABOUT US
*/
.page-services,
.page-aboutus {
    margin-top: calc(12rem - 3px);
    margin-bottom: calc(7.75rem - 6px);
}

.page-services .page-services__container,
.page-aboutus .page-aboutus__container {
    max-width: 1024px;
    height: auto;
    padding-top: calc(2.5rem - 8px);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 90px;
}

.page-services__wrap,
.page-aboutus__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.page-services-card,
.page-aboutus-card {
    width: calc(50%);
    height: auto;
}

.page-services-card .page-services-card__fig,
.page-aboutus-card .page-aboutus-card__fig {
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
}

.page-services-card a,
.page-aboutus-card a {
    display: block;
    width: 100%;
    height: auto;
}

.page-services-card .page-services-card__caption,
.page-aboutus-card .page-aboutus-card__caption {
    position: absolute;
    color: var(--color-white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    font-size: 2.6rem;
    font-family: var(--font-unna);
    width: 70%;
    text-align: center;
    transition: all 1s ease;
}

.page-services-card .page-services-card__img,
.page-aboutus-card .page-aboutus-card__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    filter: brightness(50%);
    transition: filter 2s ease;
}

.page-services-card .page-services-card__img:hover,
.page-aboutus-card .page-aboutus-card__img:hover {
    filter: brightness(100%);
}

.page-services-card__img:hover + .page-services-card__caption,
.page-aboutus-card__img:hover + .page-aboutus-card__caption {
    background-color: var(--color-background);
    opacity: 90%;
}

/*
//////////////////////////////////////////
/ MEDIA QUERIES
*/
@media only screen and (max-width: 1220px) {
    .catalog__deals,
    .shopping-list__catalogue-wrap {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .card {
        min-width: 40%;
    }
    .card .card__img {
        width: 100%;
    }

    .shopping-list .shopping-list__products .shopping-list__category {
        width: 30%;
    }

    .shopping-list .shopping-list__products .shopping-list__catalogue {
        width: calc(100% - 30% - (5px));
    }
}

@media only screen and (max-width: 1096px) {
    .main-header .container .row {
        padding: 2rem 0;
    }

    .logo {
        width: 8.75rem;
        height: auto;
    }

    .navbar__items-item:not(:last-child) {
        margin-right: 1em;
    }

    .subscribe .form-group {
        padding: 2rem 0;
    }

    .deliveries,
    .social {
        padding: 0;
    }
}

@media only screen and (max-width: 856px) {
    .navbar {
        display: none;
        transition: all 0.5s ease;
    }

    .navbar__items--column {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .navbar__items .navbar__items-item {
        margin-bottom: 1rem;
    }

    .menu-open {
        display: inline-block;
    }

    .social .social__contact .social__contact-wrap .social__signup {
        padding: 0;
    }

    .social .social__contact .social__contact-btn {
        right: 0;
    }

    .catalog h2,
    .page-article__heading h2,
    .page-article__about {
        max-width: 70%;
    }

    .page-services-card .page-services-card__caption,
    .page-aboutus-card .page-aboutus-card__caption {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 690px) {
    .navbar-mobile {
        left: 0;
        width: 100%;
        align-items: center;
    }

    .navbar-mobile .navbar-mobile__items {
        align-items: center;
    }

    .navbar-mobile .navbar-mobile__items .navbar__items-item a {
        font-size: 1rem;
    }

    .navbar-mobile .navbar-mobile__items .navbar__items-item {
        margin-right: 0;
    }

    .catalog h2,
    .page-article__heading h2 {
        font-size: 9vw;
    }

    .subscribe .form-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .subscribe .subscribe__form-control {
        margin: 0 0 15px 0;
    }

    .subscribe__btn {
        width: 100%;
    }

    .deliveries,
    .social {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .social__follow-us,
    .social__logo,
    .social__contact,
    .deliveries__info {
        width: 100%;
    }

    .deliveries .borders {
        border: none;
    }

    .social__follow-us,
    .social__contact {
        margin-bottom: 3rem;
    }

    .social__logo {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .catalog h2,
    .page-article__heading h2,
    .page-article__img,
    .page-article__about {
        max-width: 100%;
    }

    .page-single__follow-us .social-icons {
        display: none;
    }

    .page-article__info ul li {
        font-size: 10px;
        letter-spacing: 0;
    }
    .shopping-list .shopping-list__products {
        flex-direction: column;
    }

    .shopping-list .shopping-list__products .shopping-list__category,
    .shopping-list .shopping-list__products .shopping-list__catalogue {
        width: 100%;
    }

    .shopping-list .shopping-list__select,
    .shopping-list__controls p,
    .shopping-list__controls .label-item,
    .checkbox-control input,
    .checkbox-control .checkbox-model,
    .label-item,
    .shopping-list__content .shopping-list__control-search,
    .content-label .search-label,
    .shopping-list__sizes-col label,
    .filter-btn {
        font-size: 18px !important;
    }

    .shopping-list__range-price--left,
    .shopping-list__range-price--right {
        font-size: 16px !important;
    }

    .input-range::-webkit-slider-thumb {
        width: 1rem;
        height: 1rem;
    }

    .filter-btn {
        height: 3.75rem;
    }

    .page-single__wrap .page-single__content {
        flex-direction: column;
    }

    .page-single__contact-info,
    .page-single__contact-form {
        width: 100%;
    }

    .page-single__contact-info {
        order: 1;
        text-align: center;
    }

    .page-services-card,
    .page-aboutus-card {
        width: 100%;
    }

    .page-services-card .page-services-card__img,
    .page-aboutus-card .page-aboutus-card__img {
        filter: brightness(100%);
    }

    .page-services-card .page-services-card__fig,
    .page-aboutus-card .page-aboutus-card__fig {
        padding-left: 0;
        padding-right: 0;
    }

    .page-services-card__caption,
    .page-aboutus-card__caption {
        background-color: var(--color-background);
        opacity: 90%;
    }

    .page-services-card .page-services-card__caption,
    .page-aboutus-card .page-aboutus-card__caption {
        font-size: 1.5rem;
    }
}

/* UTILS */
.u-m-md {
    margin: 5rem 0 !important;
}
.u-mt-sm {
    margin-top: 0.6rem !important;
}

.u-mt-md {
    margin-top: 3.5rem !important;
}

.u-mt-lg {
    margin-top: 6.5rem !important;
}

.u-mb-xs {
    margin-bottom: 2.25rem !important;
}

.u-mb-sm {
    margin-bottom: 3.5rem !important;
}

.u-mb-md {
    margin-bottom: 5rem !important;
}

.u-mb-0 {
    margin-bottom: 0 !important;
}

.u-ml-sm {
    margin-left: 1.25rem !important;
}

.u-pd-sm {
    padding-left: 7vw !important;
    padding-right: 7vw !important;
}

.u-py-sm {
    padding-top: 0.1rem;
}

.u-mx-md {
    margin-left: 10vw !important;
    margin-right: 10vw !important;
}

.u-pos-absolute {
    position: absolute;
    width: 100%;
}

.u-box-shadow {
    box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.1);
}
