/*

Title: PetLove - 2019
Contributors: Marcelo Glacial & Jose Dutra
Author URL: https: //github.com/marceloglacial/2019-petlove/
Starts on: 08/27/2019

*/

/* VARIABLES */
:root {
    /* Colors */
    --color-primary: #4d6863;
    --color-secondary: #d7fff1;
    --color-background: #4e6863;
    --color-text-grey-dark: #333;
    --color-text-grey: #989898;
    --color-text-grey-medium: #8d8d8d;
    --color-text-grey-lighter: #ebebeb;
    --color-white: #ffffff;
    --color-input: #998e76;

    /* Font-Families */
    --font-unna: 'Unna', sans-serif;
    --font-lato: 'Lato', sans-serif;
    --font-monserrat: 'Montserrat', sans-serif;
}

/*
//////////////////////////////////////////
/ BASIC RESETS
*/
* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    /* inherited from HTML */
}

body {
    background-color: var(--color-white);
    font-family: var(--font-lato);
    line-height: 1.6;
    color: var(--color-text-grey-dark);
}

a:visited,
a:link {
    color: currentColor;
    text-decoration: none;
}

a:link:active,
a:visited:active {
    color: currentColor;
}

ul,
ol,
li {
    list-style: none;
}

::-moz-selection {
    background-color: var(--color-primary);
    color: var(--color-white);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/*
//////////////////////////////////////////
/ HEADER
*/
.main-header {
    position: relative;
    z-index: 99;
}

.main-header .container {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-header .container .row {
    width: 85%;
    padding: 1.9rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo {
    width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
}

.navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar__items-item:not(:last-child) {
    margin-right: 2em;
    text-transform: uppercase;
}

.navbar__items-item a {
    color: var(--color-white);
    font-family: var(--font-monserrat);
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar__items-item a:hover {
    color: var(--color-secondary);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* HOME-HERO */
.hero {
    height: 90vh;
    width: 100%;
    background: #222;
}

.hero__carrousel {
    position: relative;
    height: 100%;
    width: 100%;
}

.hero__carrousel-btn {
    position: absolute;
    top: 50%;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 4;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
    background-color: transparent;
    border: 2px solid var(--color-text-grey-lighter);
    cursor: pointer;
    -webkit-filter: opacity(0.5);
    filter: opacity(0.5);
    -webkit-transition: -webkit-filter 0.2s ease-in;
    transition: -webkit-filter 0.2s ease-in;
    -o-transition: filter 0.2s ease-in;
    transition: filter 0.2s ease-in;
    transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
}

.hero__carrousel-btn:hover {
    -webkit-filter: opacity(0.9);
    filter: opacity(0.9);
}

.hero__carrousel-btn--left {
    left: 1rem;
    border-right: none;
    border-bottom: none;
}

.hero__carrousel-btn--right {
    right: 1rem;
    border-top: none;
    border-left: none;
}

.hero__carrousel-container {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.hero__carrousel-track {
    position: relative;
    height: 100%;
    -webkit-transition: -webkit-transform ease-in-out 500ms;
    transition: -webkit-transform ease-in-out 500ms;
    -o-transition: transform ease-in-out 500ms;
    transition: transform ease-in-out 500ms;
    transition: transform ease-in-out 500ms, -webkit-transform ease-in-out 500ms;
}

.hero__carrousel-slide {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}

.hero__carrousel-description {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 7vw;
    z-index: 1;
}

.hero__carrousel-description p {
    font-family: var(--font-monserrat);
    color: var(--color-white);
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 1rem;
}

.hero__carrousel-description h1 {
    font-family: var(--font-unna);
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-white);
    word-break: break-word;
    line-height: 4rem;
    margin: 0;
    margin-bottom: 2rem;
    width: 80vmin;
}

.hero__carrousel-description .btn {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.8rem 2.2rem;
    background-color: transparent;
    border: 2px solid var(--color-white);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -ms-flex-item-align: start;
    align-self: flex-start;
    letter-spacing: 2px;
}

.hero__carrousel-description .btn:hover {
    background-color: var(--color-white);
    color: currentColor;
}

.hero__carrousel-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.hero__carrousel-nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    bottom: 5%;
    margin-left: 7vw;
}

.hero__carrousel-indicator {
    width: 0.75rem;
    height: 0.75rem;
    background: transparent;
    border: 1px solid var(--color-text-grey-lighter);
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hero__carrousel-indicator:hover {
    background-color: var(--color-text-grey-lighter);
}

.hero__carrousel-nav .current-slide {
    background-color: var(--color-text-grey-lighter);
}

.hero__carrousel-indicator:not(:last-child) {
    margin-right: 10px;
}

.hidden {
    display: none;
}

/*
//////////////////////////////////////////
/ CATALOGUE
*/
.catalog {
    /* none */
}

.catalog h2,
.page-single .page-article h2 {
    font-family: var(--font-unna);
    font-size: 3.875rem;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 400;
}

.catalog__deals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 4rem;
}

.card {
    min-width: 33.333333%;
    height: auto;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.card:hover {
    opacity: 0.8;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.card a {
    display: block;
}

.card-deals {
    padding: 30px 0;
    margin-bottom: 3.5rem;
}

.card-deals,
.card-pets {
    text-align: center;
}

.card-pets {
    margin-bottom: 1rem;
}

.card .card__img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.card .card__desc {
    position: relative;
    font-family: var(--font-unna);
    text-transform: capitalize;
    font-size: 1.375rem;
    font-weight: 400;
}

.card .card__price {
    position: relative;
    font-size: 0.875rem;
    color: var(--color-text-grey);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.catalog #show,
.shopping-list__catalogue #show {
    font-size: 0.75rem;
    margin: 1rem 0;
    text-align: center;
    color: var(--color-text-grey);
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.catalog #show:hover {
    opacity: 0.8;
}

.hr {
    border: 0.5px solid var(--color-text-grey-lighter);
    margin: 0 auto;
}

/*
//////////////////////////////////////////
/ SUBSCRIBE
*/
.subscribe {
    width: 100%;
    background-color: var(--color-background);
}

.subscribe .form-group {
    padding: 2rem 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.subscribe label {
    font-family: var(--font-unna);
    font-weight: 400;
    color: var(--color-white);
    font-size: 1.8rem;
    cursor: pointer;
}

.subscribe .subscribe__form-control {
    padding: 1rem 1.25rem;
    border: none;
    font-size: 1rem;
    background-color: var(--color-white);
    color: var(--color-primary);
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    margin-left: 3.5rem;
    margin-right: 8px;
}

.subscribe__btn {
    width: 9.6rem;
    min-height: 2.75rem;
    font-size: 0.75rem;
    font-weight: 700;
    border: none;
    background-color: var(--color-white);
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    cursor: pointer;
    color: #a99f8c;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.subscribe__btn:hover {
    opacity: 90%;
}

/*
//////////////////////////////////////////
/ FOOTER
*/
.footer-wrap h5 {
    text-transform: uppercase;
    margin: 8px 0;
    font-size: 13px;
    line-height: 30px;
}

.footer-wrap p {
    font-size: 14px;
    color: var(--color-text-grey-medium);
    line-height: 21px;
    margin-bottom: 1rem;
}

.deliveries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 7vw;
}

.deliveries .borders {
    border-left: 1px solid var(--color-text-grey-medium);
    border-right: 1px solid var(--color-text-grey-medium);
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.deliveries .deliveries__info {
    min-width: 33.333333%;
    height: auto;
    text-align: center;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 7vw;
}

.social__follow-us,
.social__logo,
.social__contact {
    min-width: 33.333333%;
    height: auto;
    text-align: center;
}

.social__follow-us .social-icons a:not(:last-child) {
    margin-right: 1.5rem;
}

.social-icons svg {
    width: 1.5rem;
    height: 1.5rem;
}

.social-icons svg:hover {
    opacity: 0.7;
}

.social-icons .social-icons--facebook,
.social-icons .social-icons--instagram,
.social-icons .social-icons--twitter,
.social-icons .social-icons--gplus {
    fill: var(--color-text-grey-medium);
}

.social .social__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social .social__contact .social__contact-wrap .social__signup {
    position: relative;
    padding: 0 1.5rem;
}

.social .social__contact .social__signup-control {
    width: 100%;
    height: 2.8rem;
    padding-left: 8px;
    border: 1px solid var(--color-text-grey-lighter);
    border-radius: 0;
    -webkit-appearance: none;
    font-size: 16px;
    background-color: var(--color-white);
    color: var(--color-primary);
}

.social .social__contact .social__contact-btn {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 16px;
    border: none;
    background-color: #0d0d0d;
    border: 1px solid var(--color-text-grey-lighter);
    border-left: none;
    cursor: pointer;
    color: var(--color-white);
    position: absolute;
    right: 1.5rem;
}

.social .social__contact .social__contact-btn:hover {
    opacity: 0.8;
}

/*
//////////////////////////////////////////
/ SHOPPING LIST LAYOUT
*/
.bg-stamp-green {
    background-image: url(../images/img-menu-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 3px 5px var(--color-text-grey);
    z-index: 99;
}

/*
//////////////////////////////////////////
/ PAGE SINGLE CONTENT - About Us
*/

.page-single {
    position: relative;
    margin-top: calc(12rem - 3px);
    margin-bottom: calc(7.75rem - 6px);
}

.page-single .page-single__follow-us {
    display: inline-block;
    position: fixed;
    max-height: 100%;
    top: 50%;
}

.page-single .page-single__follow-us .social-icons {
    text-align: center;
}

.page-single .page-single__follow-us .social-icons .social-icons__share {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-text-grey);
    display: block;
    margin-bottom: 1rem;
}

.page-single .page-single__follow-us .social-icons a {
    display: block;
}

.page-single .page-single__follow-us .social-icons a:not(:last-child) {
    margin-bottom: 1rem;
}

.page-single .page-article {
    margin-top: 4.125rem;
}
.page-single .page-article h6,
.page-single .page-article h2 {
    text-align: center;
    margin-bottom: calc(2.5rem - 8px);
}

.page-single .page-article h6 {
    font-size: 11px;
    color: var(--color-text-grey);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.page-single .page-article .page-article__info {
    margin-bottom: 3.812rem;
}

.page-article__info ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-article__info ul li {
    display: flex;
    align-items: center;
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--color-text-grey-medium);
}

.page-article__info ul li:hover {
    filter: opacity(70%);
}

.page-article__info ul li:not(:last-child) {
    margin-right: 1.875rem;
}

.page-article__info ul li span {
    margin-left: 12px;
}

.page-article__about {
    margin-left: auto;
    margin-right: auto;
    max-width: 45vw;
    margin-bottom: calc(7.75rem - 10px);
}

.page-article__about h3 {
    font-size: 21px;
    font-weight: 300;
    line-height: 25px;
}

.page-article__about h3,
.page-article__about p {
    margin-bottom: 1.75rem;
}

.page-article__about p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
}

.page-article__img {
    padding-left: 4.375rem;
    padding-right: 4.375rem;
    text-align: center;
}

.page-article__img img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

/* MEDIAS */
@media only screen and (max-width: 1220px) {
    .catalog__deals {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .card {
        min-width: 40%;
    }
    .card .card__img {
        width: 100%;
    }
}

@media only screen and (max-width: 1096px) {
    .main-header .container .row {
        padding: 2rem 0;
    }

    .logo {
        width: 8.75rem;
        height: auto;
    }

    .navbar__items-item:not(:last-child) {
        margin-right: 1em;
    }

    .subscribe .form-group {
        padding: 2rem 0;
    }

    .deliveries,
    .social {
        padding: 0;
    }
}

@media only screen and (max-width: 856px) {
    .navbar__items {
        display: none;
    }

    .social .social__contact .social__contact-wrap .social__signup {
        padding: 0;
    }

    .social .social__contact .social__contact-btn {
        right: 0;
    }
}

@media only screen and (max-width: 690px) {
    .subscribe .form-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .subscribe .subscribe__form-control {
        margin: 0 0 15px 0;
    }

    .subscribe__btn {
        width: 100%;
    }

    .deliveries,
    .social {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .social__follow-us,
    .social__logo,
    .social__contact,
    .deliveries__info {
        width: 100%;
    }

    .deliveries .borders {
        border: none;
    }

    .social__follow-us,
    .social__contact {
        margin-bottom: 3rem;
    }

    .social__logo {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
}

/* UTILS */
.u-m-md {
    margin: 5rem 0 !important;
}
.u-mt-sm {
    margin-top: 0.6rem !important;
}

.u-mt-md {
    margin-top: 3.5rem !important;
}

.u-mt-lg {
    margin-top: 6.5rem !important;
}

.u-mb-xs {
    margin-bottom: 2.25rem !important;
}

.u-mb-sm {
    margin-bottom: 3.5rem !important;
}

.u-mb-md {
    margin-bottom: 5rem !important;
}

.u-ml-sm {
    margin-left: 1.25rem !important;
}

.u-pd-sm {
    padding: 0 7vw !important;
}

.u-pos-absolute {
    position: absolute;
    width: 100%;
}
