<!DOCTYPE html>
<html lang="en">

{{> base/head }}

<body>

	{{> header/header }}
	{{> catalog/catalog }}
	{{> footer/footer }}

	<script src="assets/scripts/accordion-min.js"></script>
	<script src="assets/scripts/menu-toggle-min.js"></script>

</body>

</html>
