{{> base/head title="Page mission and values"}}
{{> header/header bgStamp="bg-stamp-green"}}

<main class="u-mb-sm">
    <section class="page-single u-pd-sm">
        <header class="page-article">
            <div class="page-article__heading">
                <h6>about us</h6>
                <h2>mission and values</h2>
            </div>

            <!-- Time to read, comments, share -->
            {{> page-article-info/page-article-info}}

            <div class="page-article__about">
                <p>Our principal motivation is to consider the pet as a member of a family and not only an animal.
                    So,
                    we have a great diversity of products to attend all our customers from who are more concerned
                    with price until who are looking for super premium brands.
                </p>

                <p>Beside the diversity of products available, we have a differential concept in our employees’
                    roles. All of them will be considered a pet consulter and will be able to help our customer with
                    the best product to attend their needs, performing a differential, unique and personal
                    attendance. With this, we intend to approach our customers to our staff in a relationship of
                    trust and friendship, as real neighbors.</p>

                <p>
                    To finish, we will prioritize the quality of our services, serving only a limited number of
                    animals in order to ensure the well-being of our direct customers (the pets) and our staff. The
                    goal is to result in the safety of the pet, the satisfaction of its owner, the motivation of our
                    staff, and the loyalty of our customers.
                </p>
            </div>
        </header>
        <aside class="page-single__follow-us follow-us--fixed">

            {{> social-icons/social-icons}}

        </aside>
    </section>

    {{> subscribe/subscribe}}
</main>

{{> footer/footer }}
