/* UTILS */
.u-m-md {
    margin: 5rem auto 5rem auto !important;
}
.u-mt-sm {
    margin-top: 0.6rem !important;
}

.u-mt-md {
    margin-top: 3.5rem !important;
}

.u-mt-lg {
    margin-top: 6.5rem !important;
}

.u-mb-xs {
    margin-bottom: 2.25rem !important;
}

.u-mb-sm {
    margin-bottom: 3.5rem !important;
}

.u-mb-md {
    margin-bottom: 5rem !important;
}

.u-mb-0 {
    margin-bottom: 0 !important;
}

.u-ml-sm {
    margin-left: 1.25rem !important;
}

.u-pd-sm {
    padding-left: 7vw !important;
    padding-right: 7vw !important;
}

.u-py-sm {
    padding-top: 0.1rem;
}

.u-mx-md {
    margin-left: 10vw !important;
    margin-right: 10vw !important;
}

.u-pos-absolute {
    position: absolute;
    width: 100%;
}

.u-box-shadow {
    box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.1);
}

.u-w-100 {
    width: 100%;
}

.hr {
    border: 0.5px solid var(--color-text-grey-lighter);
    margin: 0 auto;
}

.w-10 {
    width: 10%;
}
