/* VARIABLES */
:root {
    /* Colors */
    --color-primary: #4d6863;
    --color-secondary: #d7fff1;
    --color-background: #4e6863;
    --color-text-grey-dark: #333;
    --color-text-grey: #989898;
    --color-text-grey-medium: #8d8d8d;
    --color-text-grey-lighter: #ebebeb;
    --color-white: #ffffff;
    --color-input: #998e76;
    --color-box-product: #25c682;

    /* Font-Families */
    --font-unna: 'Unna', sans-serif;
    --font-lato: 'Lato', sans-serif;
    // --font-monserrat: 'Montserrat', sans-serif;
}
