<head>
	<noscript>
		<div class="alert alert-danger" role="alert">
			You need to enable JavaScript to run this app.
		</div>
	</noscript>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<!-- Robots.txt -->
	<meta name="robots" content="index, follow" />

	<!-- Info -->
	<title>PetLove</title>
	<meta name="description" content="Your smartest way to buy pet stuffs" />
	<meta name=" keywords" content="e-commerce, pets" />

	<!-- Recommended favicon format -->
	<link rel="icon" type="image/png" href="favicon.png" />

	<!-- Apple Touch Icon (at least 200x200px) -->
	<!-- TODO: you must provide relative path -->
	<link rel="apple-touch-icon" sizes="192x192" href="tile-192x192.png" />
	<link rel="apple-touch-icon" sizes="512x512" href="tile-512x512.png" />

	<!-- To run web application in full-screen -->
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<!-- Status Bar Style (see Supported Meta Tags below for available values) -->
	<!-- Has no effect unless you have the previous meta tag -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<!-- Status Bar Style (see Supported Meta Tags below for available values) -->

	<!-- THEME COLORS FOR ANDROID -->
	<meta name="theme-color" content="black" />

	<!-- Microsoft Tiles -->
	<meta name="msapplication-config" content="browserconfig.xml" />

	<!-- Helps prevent duplicate content issues -->
	<link rel="canonical" href="" />

	<!-- MANIFEST -->
	<link rel="manifest" href="./manifest.json" />

	<!-- Facebook Open Graph -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://petlove.com" />
	<meta property="og:title" content="PetLove" />
	<meta property="og:image" content="" />
	<meta property="og:description" content="Your smartest way to buy pet stuffs" />
	<meta property="og:site_name" content="PetLove - Your smartest way to buy pet stuffs" />
	<meta property="og:locale" content="en_US" />
	<!-- Next tags are optional but recommended -->
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />

	<!-- Twitter card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@petlove" />
	<meta name="twitter:creator" content="@glacial" />
	<meta name="twitter:url" content="https://petlove.com" />
	<meta name="twitter:title" content="Your smartest way to buy pet stuffs" />
	<meta name="twitter:description" content="PetLove - Your smartest way to buy pet stuffs" />
	<meta name="twitter:image"
		content="http://graphics8.nytimes.com/images/2011/12/08/technology/bits-newtwitter/bits-newtwitter-tmagArticle.jpg" />
	<!-- Styles -->
	<link rel="stylesheet" href="assets/styles/styles.min.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Fonts: Monserrat & Unna & Lato -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:300,500,700|Unna:400,700"
		rel="stylesheet" />
</head>
