@import '../base/breakpoints';

.navbar {
    @include respond(phone) {
        left: 0;
        width: 100%;
        align-items: center;
    }

    &__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        &-item {
            &:not(:last-child) {
                margin-right: 2em;
                text-transform: uppercase;

                @include respond(phone) {
                    margin-right: 0;
                }
            }

            a {
                color: var(--color-white);
                font-family: var(--font-monserrat);
                font-weight: 500;
                font-size: 0.75rem;
                letter-spacing: 1px;
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;

                &:hover {
                    color: var(--color-secondary);
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                }

                @include respond(phone) {
                    font-size: 1rem;
                }
            }
        }
    }
}
