<main class="u-mb-sm">
    <!-- HERO -->
    <section class="hero">
        <article class="hero__carrousel">
            <button class="hero__carrousel-btn hero__carrousel-btn--left hidden" aria-label="left">
            </button>
            <button class="hero__carrousel-btn hero__carrousel-btn--right" aria-label="right">
            </button>
            <div class="hero__carrousel-description">
                <p>cats jackets</p>
                <h1>Protect your buddy during Winter</h1>
                <a id="" class="btn" href="#">shop now</a>
            </div>
            <div class="hero__carrousel-container">
                <ul class="hero__carrousel-track">
                    <!-- slider 1 -->
                    <li class="hero__carrousel-slide current-slide">
                        <picture>
                            <img class="hero__carrousel-image" src="assets/images/hero-bg.png" loading="lazy"
                                width="1440" height="700" alt="cat on snow image">
                        </picture>
                    </li>
                    <li class="hero__carrousel-slide">
                        <picture>
                            <img class="hero__carrousel-image" src="assets/images/hero-bg.png" loading="lazy"
                                width="1440" height="700" alt="cat on snow image">
                        </picture>
                    </li>
                    <li class="hero__carrousel-slide">
                        <picture>
                            <img class="hero__carrousel-image" src="assets/images/hero-bg.png" loading="lazy"
                                width="1440" height="700" alt="cat on snow image">
                        </picture>
                    </li>
                    <li class="hero__carrousel-slide">
                        <picture>
                            <img class="hero__carrousel-image" src="assets/images/hero-bg.png" loading="lazy"
                                width="1440" height="700" alt="cat on snow image">
                        </picture>
                    </li>
                </ul>
            </div>
            <div class="hero__carrousel-nav">
                <button class="hero__carrousel-indicator current-slide" aria-label="Dot button"></button>
                <button class="hero__carrousel-indicator" aria-label="Dot button"></button>
                <button class="hero__carrousel-indicator" aria-label="Dot button"></button>
                <button class="hero__carrousel-indicator" aria-label="Dot button"></button>
            </div>
        </article>
    </section>
    <!-- CATALOGUE -->
    <section class="catalog u-m-md">
        <h2>Deals of the Day</h2>

        <div class="catalog__deals">
            <figure class="card card-deals">
                <a href="./product-page.html" rel="noreferrer">
                    <img class="card__img" src="content/images/bat-dog-toy.png" loading="lazy" width="350"
                        height="370" alt="Bat Dog Toy">
                    <figcaption>
                        <h3 class="card__desc">bat dog toy</h3>
                        <p class="card__price">$1.99 (20% off)</p>
                    </figcaption>
                </a>
            </figure>
            <figure class="card card-deals">
                <a href="./product-page.html" rel="noreferrer">
                    <img class="card__img" src="content/images/dog-food.png" loading="lazy" width="350" height="370"
                        alt="Savory Wet Dog Food">
                    <figcaption>
                        <h3 class="card__desc">savory wet dog food</h3>
                        <p class="card__price">$4.99 (20% off)</p>
                    </figcaption>
                </a>
            </figure>
            <figure class="card card-deals">
                <a href="./product-page.html" rel="noreferrer">
                    <img class="card__img" src="content/images/cat-tunnel.png" loading="lazy" width="350"
                        height="370" alt="Cat Tunnel">
                    <figcaption>
                        <h3 class="card__desc">cat tunnel</h3>
                        <p class="card__price">$10.99 (20% off)</p>
                    </figcaption>
                </a>
            </figure>
            <figure class="card card-deals">
                <a href="./product-page.html" rel="noreferrer">
                    <img class="card__img" src="content/images/ewok-hallowen-costume.png" loading="lazy" width="350"
                        height="370" alt="Ewok Hallowen Costume">
                    <figcaption>
                        <h3 class="card__desc">ewok hallowen costume</h3>
                        <p class="card__price">$15.99 (20% off)</p>
                    </figcaption>
                </a>
            </figure>
            <figure class="card card-deals">
                <a href="./product-page.html" rel="noreferrer">
                    <img class="card__img" src="content/images/batman-hallowen-costume.png" loading="lazy"
                        width="350" height="370" alt="Batman Costume">
                    <figcaption>
                        <h3 class="card__desc">batman costume</h3>
                        <p class="card__price">$10.99 (20% off)</p>
                    </figcaption>
                </a>
            </figure>
            <figure class="card card-deals">
                <a href="./product-page.html" rel="noreferrer">
                    <img class="card__img" src="content/images/superman-hallowen-costume.png" loading="lazy"
                        width="350" height="370" alt="Superman Costume">
                    <figcaption>
                        <h3 class="card__desc">superman costume</h3>
                        <p class="card__price">$10.99 (20% off)</p>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div class="catalog__show u-pd-sm">
            <hr class="hr">
            <a href="#">
                <p id="show">show all</p>
            </a>
            <hr class="hr">
        </div>
    </section>
    <!-- SUBSCRIBE -->
    <section class="subscribe u-pd-sm">
        <form class="form-group" action="#" method="POST">
            <label for="subscribe__email">Subscribe now</label>
            <input id="subscribe__email" class="subscribe__form-control" type="email" name="" value=""
                placeholder="Enter your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            <button class="subscribe__btn">subscribe</button>
        </form>
    </section>
</main>
