<header class="main-header">
    <div class="container">
        <div class="row u-pos-absolute">
            <a href="./" title="Home page">
                <img class="logo" src="assets/images/petlove-logo.png" loading="lazy" width="226" height="61"
                    alt="Site Logo" />
            </a>

            {{> navbar/navbar}}

            <a href="#main-menu-toggle" role="button" id="main-menu-open" class="menu-open"
                aria-label="Open navigation">
                <span class="sr-only">open main menu</span>
                <span class="fa fa-bars" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</header>
