<!-- CATALOGUE -->
<aside class="shopping-list__catalogue u-mb-xs">
    <div class="shopping-list__catalogue-wrap">

        <!-- data coming from ./seed.js -->
        {{#each pet}}
        {{> card/card suffix=suffix img-path=path card-desc=desc card-price=price discount=discount discount-amount=discountAmount width=width height=height id=@index}}
        {{/each}}

    </div>
    <div class="shopping-list__pages">
        <hr class="hr">
        <div class="shopping-list__seq">
            <a class="left-arrow" href="#"><img src="assets/images/left-arrow.png" alt=""></a>
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>...</li>
                <li><a href="#">234</a></li>
            </ul>
            <a class="right-arrow" href="#"><img src="assets/images/right-arrow.png" alt=""></a>
        </div>
        <hr class="hr">
    </div>
</aside>
