<!-- CATALOGUE -->
<aside class="shopping-list__catalogue u-mb-xs">
    <div class="shopping-list__catalogue-wrap">
        <figure class="card card-pets">
            <a href="./product-page.html">
                <img class="card__img" src="content/images/elephant-costume.png" alt="Elephant Costume" />
                <figcaption>
                    <h3 class="card__desc">Elephant Costume</h3>
                    <p class="card__price">
                        $16.00
                    </p>
                </figcaption>
            </a>
        </figure>
        <figure class="card card-pets">
            <a href="./product-page.html">
                <img class="card__img" src="content/images/super-girl-costume.png" loading="lazy" width="262"
                    height="276" alt="Supergirl Costume" />
                <figcaption>
                    <h3 class="card__desc">Supergirl Costume</h3>
                    <p class="card__price">
                        $10.99
                    </p>
                </figcaption>
            </a>
        </figure>
        <figure class="card card-pets">
            <a href="./product-page.html">
                <img class="card__img" src="content/images/wonder-woman-costume.png" loading="lazy" width="262"
                    height="276" alt="Wonder Woman Costume" />
                <figcaption>
                    <h3 class="card__desc">Wonder Costume</h3>
                    <p class="card__price">
                        $12.99
                    </p>
                </figcaption>
            </a>
        </figure>
        <figure class="card card-pets">
            <a href="./product-page.html">
                <img class="card__img" src="content/images/super-rat-costume.png" loading="lazy" width="262"
                    height="276" alt="Rat Costume" />
                <figcaption>
                    <h3 class="card__desc">Rat Costume</h3>
                    <p class="card__price">
                        $9.99
                    </p>
                </figcaption>
            </a>
        </figure>
        <figure class="card card-pets">
            <a href="./product-page.html">
                <img class="card__img" src="content/images/witch-costume.png" loading="lazy" width="262" height="276"
                    alt="Witch Costume" />
                <figcaption>
                    <h3 class="card__desc">Witch Costume</h3>
                    <p class="card__price">
                        $9.99
                    </p>
                </figcaption>
            </a>
        </figure>
        <figure class="card card-pets">
            <a href="./product-page.html">
                <img class="card__img" src="content/images/dragon-costume.png" loading="lazy" width="262" height="276"
                    alt="Dragon Costume" />
                <figcaption>
                    <h3 class="card__desc">Dragon Costume</h3>
                    <p class="card__price">
                        $16.99
                    </p>
                </figcaption>
            </a>
        </figure>
        <figure class="card card-pets">
            <a href="./product-page.html">
                <img class="card__img" src="content/images/marmaid-costume.png" loading="lazy" width="262" height="276"
                    alt="Mermaid Costume" />
                <figcaption>
                    <h3 class="card__desc">Mermaid Costume</h3>
                    <p class="card__price">
                        $12.99
                    </p>
                </figcaption>
            </a>
        </figure>
        <figure class="card card-pets">
            <a href="./product-page.html">
                <img class="card__img" src="content/images/tortilla-costume.png" loading="lazy" width="262" height="276"
                    alt="Tortilla Costume" />
                <figcaption>
                    <h3 class="card__desc">Tortilla Costume</h3>
                    <p class="card__price">
                        $18.99
                    </p>
                </figcaption>
            </a>
        </figure>
        <figure class="card card-pets">
            <a href="./product-page.html">
                <img class="card__img" src="content/images/prisioner-costume.png" loading="lazy" width="262"
                    height="276" alt="Prisioner Costume" />
                <figcaption>
                    <h3 class="card__desc">Prisioner Costume</h3>
                    <p class="card__price">
                        $10.99
                    </p>
                </figcaption>
            </a>
        </figure>
    </div>
    <div class="shopping-list__pages">
        <hr class="hr">
        <div class="shopping-list__seq">
            <a class="left-arrow" href="#"><img src="assets/images/left-arrow.png" alt=""></a>
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>...</li>
                <li><a href="#">234</a></li>
            </ul>
            <a class="right-arrow" href="#"><img src="assets/images/right-arrow.png" alt=""></a>
        </div>
        <hr class="hr">
    </div>
</aside>
