.shopping-list {
    &__catalogue {
        max-width: 1440px;
        margin-right: auto;
        margin-left: 5px;
        width: calc(100% - 22% - (5px));

        #show {
            font-size: 0.75rem;
            margin: 1rem 0;
            text-align: center;
            color: var(--color-text-grey);
            text-transform: uppercase;
            -webkit-transition: opacity 0.3s;
            -o-transition: opacity 0.3s;
            transition: opacity 0.3s;
        }
    }
}
