<section id="product-page-bag" class="product-page__bag">
    <div class="product-page__bag-breadcrumb">
        <p>shop / clothes / costumes</p>
    </div>

    <!-- Item Description -->
    {{> product-page-item-description/product-page-item-description  }}
    <!-- Select items -->
    {{> product-page-item-selector/product-page-item-selector  }}
    <!-- Add items -->
    {{> product-page-item-add/product-page-item-add  }}

    <hr class="hr u-w-100 u-mb-xs">

    <div class="page-single__social-wrap u-mb-xs">
        {{> social-icons/social-icons}}
    </div>

    {{> product-page-item-more-details/product-page-item-more-details}}

</section>
