.product-page {
    &__bag {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 800px;
        width: calc(60% - 2.5rem);
        margin-left: 2.5rem;

        &-breadcrumb {
            margin-bottom: 1rem;

            p {
                text-transform: uppercase;
                color: var(--color-input);
                font-size: 0.75rem;
                letter-spacing: 1.3px;
                font-family: var(--font-monserrat);
            }
        }

        &-price {
            display: inline-block;
            font-family: var(--font-unna);
            font-size: 1.75rem;
            color: var(--color-text-grey-dark);
            margin-left: 1.5rem;
        }
    }
}
