<section id="product-page-photos" class="product-page__photos">
    <div class="product-page__photos-main">
        <img id="selected-img" src="./content/images/superman-hallowen-costume.png" alt="product image focusing">
    </div>
    <ul class="product-page__photos-mirror">
        <li>
            <a href="#">
                <img class="img-to-select" src="./content/images/superman-costume-front.png" alt="product image front">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="img-to-select" src="./content/images/superman-costume-back.png" alt="product image back">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="img-to-select" src="./content/images/superman-costume-front.png" alt="product image front">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="img-to-select" src="./content/images/superman-costume-back.png" alt="product image back">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="img-to-select" src="./content/images/superman-costume-front.png" alt="product image front">
            </a>
        </li>
    </ul>
</section>
