/*

Title: PetLove - 2019
Contributors: Marcelo Glacial & Jose Dutra
Author URL: https: //github.com/marceloglacial/2019-petlove/
Starts on: 08/27/2019

*/

/* VARIABLES */
:root {
    /* Colors */
    --color-primary: #4d6863;
    --color-secondary: #d7fff1;
    --color-text-grey-dark-1: #333;
    --color-text-grey-light: #989898;
    --color-text-grey-light-2: #ebebeb;
    --color-white: #ffffff;
    --color-input: #c2bcad;

    /* Font-Families */
    --font-unna: 'Unna', sans-serif;
    --font-lato: 'Lato', sans-serif;
    --font-monserrat: 'Montserrat', sans-serif;
}

/* BASIC RESETS */
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* inherited from HTML */
}

body {
    background-color: var(--color-white);
    font-family: var(--font-lato);
    line-height: 1.6;
    color: var(--color-text-grey-dark-1);
    /* position: relative; */
}

a:visited,
a:link {
    color: currentColor;
    text-decoration: none;
}

a:link:active,
a:visited:active {
    color: currentColor;
}

ul,
ol,
li {
    list-style: none;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* HEADER */
.main-header {
    /* height: auto; */
    position: relative;
    z-index: 999;
}

.main-header .container {
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.main-header .container .row {
    width: 85%;
    padding: 2.2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100%;
    object-fit: fill;
}

.navbar__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__items-item:not(:last-child) {
    margin-right: 2em;
    text-transform: uppercase;
}

.navbar__items-item a {
    color: var(--color-white);
    font-family: var(--font-monserrat);
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 1px;
    transition: all 0.3s;
}

.navbar__items-item a:hover {
    color: var(--color-secondary);
    transition: all 0.3s;
}

/* HOME-HERO */
.hero {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 83vh;
    background-image: url(../images/hero-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: scale-down;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__slides {
    display: flex;
    flex-direction: column;
    margin-left: 7.5rem;
}

.hero__slides-heading p {
    font-family: var(--font-monserrat);
    color: var(--color-white);
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: normal;
}

.hero__slides-heading h1 {
    font-family: var(--font-unna);
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-white);
    word-break: break-word;
    line-height: 4rem;
    margin: 1rem 0 2rem 0;
    width: 50%;
}

a.btn {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.7rem 2.2rem;
    background-color: transparent;
    border: 2px solid var(--color-white);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    align-self: flex-start;
    letter-spacing: 2px;
}

a.btn:hover {
    background-color: var(--color-white);
    color: currentColor;
}

.hero__controls {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 5%;
    transform: translateX(200%);
}

.hero__controls-item {
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hero__controls-item:hover {
    background-color: var(--color-white);
}

.hero__controls .active {
    background-color: var(--color-white);
}

.hero__controls-item:not(:last-child) {
    margin-right: 10px;
}

/* Header medias */
@media only screen and (max-width: 1096px) {
    .main-header .container .row {
        padding: 2rem 0;
    }

    .logo {
        width: 8.75rem;
    }

    .navbar__items-item:not(:last-child) {
        margin-right: 1em;
    }

    .hero {
        height: 60vh;
    }

    .hero__slides {
        margin-left: 5rem;
    }

    .hero__slides-heading h1 {
        font-size: 3.1rem;
        margin: 0.5rem 0 1.5rem 0;
    }

    .hero__controls {
        transform: translateX(130%);
    }
}

@media only screen and (max-width: 856px) {
    .navbar__items {
        display: none;
    }

    .hero {
        min-height: 80vh;
        background-position: top right 40%;
    }

    .hero__slides {
        margin-left: 4rem;
    }

    .hero__controls {
        transform: translateX(100%);
    }

    .hero__slides-heading h1 {
        font-size: 2.75rem;
        width: 70%;
    }
}

@media only screen and (max-width: 540px) {
    .hero__slides {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .hero__controls {
        display: none;
    }

    .hero__slides-heading h1 {
        font-size: 2rem;
        width: 100%;
    }
}
