/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*

Title: PetLove - 2019
Contributors: Marcelo Glacial & Jose Dutra
Author URL: https: //github.com/marceloglacial/2019-petlove/
Starts on: 08/27/2019

*/

/* VARIABLES */
:root {
    /* Colors */
    --color-primary: #4d6863;
    --color-secondary: #d7fff1;
    --color-text-grey-dark-1: #333;
    --color-text-grey-light: #989898;
    --color-text-grey-light-2: #ebebeb;
    --color-white: #ffffff;
    --color-input: #c2bcad;

    /* Font-Families */
    --font-unna: 'Unna', sans-serif;
    --font-lato: 'Lato', sans-serif;
    --font-monserrat: 'Montserrat', sans-serif;
}

/* BASIC RESETS */
* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    /* inherited from HTML */
}

body {
    background-color: var(--color-white);
    font-family: var(--font-lato);
    line-height: 1.6;
    color: var(--color-text-grey-dark-1);
    /* position: relative; */
}

a:visited,
a:link {
    color: currentColor;
    text-decoration: none;
}

a:link:active,
a:visited:active {
    color: currentColor;
}

ul,
ol,
li {
    list-style: none;
}

::-moz-selection {
    background-color: var(--color-primary);
    color: var(--color-white);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* HEADER */
.main-header {
    /* height: auto; */
    position: relative;
    z-index: 999;
}

.main-header .container {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-header .container .row {
    width: 85%;
    padding: 2.2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo {
    width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
}

.navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar__items-item:not(:last-child) {
    margin-right: 2em;
    text-transform: uppercase;
}

.navbar__items-item a {
    color: var(--color-white);
    font-family: var(--font-monserrat);
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar__items-item a:hover {
    color: var(--color-secondary);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* HOME-HERO */
.hero {
    background-image: linear-gradient(#080808, 50%, var(--color-primary));
    position: absolute;
    height: 80vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: -1;
}

.hero__slides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 7.5rem;
}

.hero__slides-heading p {
    font-family: var(--font-monserrat);
    color: var(--color-white);
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 1rem;
}

.hero__slides-heading h1 {
    font-family: var(--font-unna);
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-white);
    word-break: break-word;
    line-height: 4rem;
    margin: 0;
    margin-bottom: 2rem;
    width: 50%;
}

a.btn {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.8rem 2.2rem;
    background-color: transparent;
    border: 2px solid var(--color-white);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -ms-flex-item-align: start;
    align-self: flex-start;
    letter-spacing: 2px;
}

a.btn:hover {
    background-color: var(--color-white);
    color: currentColor;
}

.hero__controls {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    bottom: 5%;
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
}

.hero__controls-item {
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hero__controls-item:hover {
    background-color: var(--color-white);
}

.hero__controls .active {
    background-color: var(--color-white);
}

.hero__controls-item:not(:last-child) {
    margin-right: 10px;
}

/* Header medias */
@media only screen and (max-width: 1096px) {
    .main-header .container .row {
        padding: 2rem 0;
    }

    .logo {
        width: 8.75rem;
    }

    .navbar__items-item:not(:last-child) {
        margin-right: 1em;
    }

    .hero {
        height: 60vh;
    }

    .hero__slides {
        margin-left: 5rem;
    }

    .hero__slides-heading h1 {
        font-size: 3.1rem;
        margin: 0.5rem 0 1.5rem 0;
    }

    .hero__controls {
        -webkit-transform: translateX(130%);
        -ms-transform: translateX(130%);
        transform: translateX(130%);
    }
}

@media only screen and (max-width: 856px) {
    .navbar__items {
        display: none;
    }

    .hero {
        min-height: 80vh;
        background-position: top right 40%;
    }

    .hero__slides {
        margin-left: 4rem;
    }

    .hero__controls {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    .hero__slides-heading h1 {
        font-size: 2.75rem;
        width: 70%;
    }
}

@media only screen and (max-width: 540px) {
    .hero__slides {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .hero__controls {
        display: none;
    }

    .hero__slides-heading h1 {
        font-size: 2rem;
        width: 100%;
    }
}
